{% extends "signup\base.html" %}
{% load widget_tweaks %}

{% block title %}サインアップ{% endblock %}

{% block content %}
  <form method="post" class="border rounded bg-white form-accounts ">
    {% csrf_token %}
    <div class="form-content">
      <h1>ユーザー登録</h1>
      <div class=" form-group  mb-3 pt-1">
        <div class=" form-account ">
          {{ form.username|add_class:'form-control rounded-pill' }}
        </div>
      </div>
      <div class="form-account row justify-content-center mb-3 ">
        <div class="form-item form-group">
            {{ form.last_name|add_class:'form-control rounded-pill' }}
        </div>
        <div class="form-item form-group">
            {{ form.fast_name|add_class:'form-control rounded-pill' }}
        </div>
      </div>
      <div class=" form-account form-group mb-3">
          {{ form.dept|add_class:'form-control rounded-pill' }}
      </div>
      <div class=" form-account form-group mb-3">
          {{ form.area|add_class:'form-control rounded-pill' }}
      </div>
      <div class="form-account form-group mb-3">
          {{ form.password1|add_class:'form-control rounded-pill' }}
      </div>
      <div class="form-account form-group mb-3">
          {{ form.password2|add_class:'form-control rounded-pill' }}
      </div>
      {{form.errors}}
      <button type="submit" class="btn btn-primary rounded-pill px-5 my-4">登録</button>
    </div>
  </form>
{% endblock %}
