{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block css %}{% static 'css/login_style.css' %}{% endblock %}
{% block title %}ログイン{% endblock %}

{% block content %}   
<form method="POST" class="border rounded bg-white form-accounts text-center">
  <div class="login">
    <div class="new-login">
      <div class="form-content">  
        <h1>ログイン</h1>
        {% if form.errors  %}
        <p class="login-error">ユーザーID, パスワードが一致しません．</p>
        {% endif %}
        {% csrf_token %}
        <div class="form-account my-3">
          {{ form.username|add_class:'form-control pt-1 form-item  my-4' }}
        </div>
        <div class="form-account my-3">
          {{ form.password|add_class:'form-control pt-1 form-item  my-4' }}
        </div>
        <div class="form-account my-4">
          <button type="submit" class="btn btn-primary form-control pt-1">ログイン</button>
        </div>
        {% comment %} <button type="submit" class="btn btn-primary rounded-pill px-5 my-4">ログイン</button> {% endcomment %}
      </div>
    </div>
  </div>
</form>
{% endblock %}