body{
    background-color: #C3D1FF;
}
/* header{
    display: flex;
    height: 68px;
    width: 100%;
    font-size: 30px;
    align-items: center;
    background-color: #1577BD;
    color: #FFFFFF;
} */

/* p{margin: 0;} */

h1 {
    margin: 0 0 20px;
    padding: 10px 0 0 10px;
    font-weight: 300;
    font-size: 40px;
    color: var(--body-quiet-color);
}
/* h3 h4{margin: 0;} */

/* ul {
    display: flex;
    list-style: none;
} */
/* a {
    color: #FFFFFF;
    text-decoration: none;
} */
.wrapper{
    width: 90%;
    height: 90%;
    margin: 0 auto;
}
.user-name{
    padding: 0px 0 0 45px;
    width: 40%;
}

.user-dept{
    margin: 0 0 0 0;
    font-size: 14px;
}
.title{
    /* background-color: #eee; */
    width: 100vw;
    margin: 0 calc(50% - 50vw);
}
.title h2{
    padding-top: 20px;
    width: 92%;
    margin: 0 auto;
    font-size:  24px;       /* 文字サイズ指定 */
    border-bottom:  solid;  /* 線指定 */
    padding-bottom:  5px;   /* 余白指定 */
    margin-bottom: 15px;    /* 周りの余白指定 */
}

#contents{
    width: 100%;
    height: 100%;
}
.matter-number-contet{
    display: flex;
    width: 95%;
    height: 95%;

}
.matter-number-block{
    height: 95%;
    border: #C3D1FF;
    
}
.matter-number-container{
    display: flex;
    align-items: center;
    
}
.matter-number-item-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 170px;
    
}
.matter-button-items{
    width: 100px;
    height: 100px;
    /* background-color: #1577BD; */
}
.select-item-1{
    width: 100%;
}
.select-item-1 label{
    font-size: 20px;

}
.matter-button-items{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 10px;
}
.matter-output-button{
    margin-bottom: 30px;
}
.matter-number-module{
    padding-top: 10px;
    padding-left: 10px;

}
.matter-number-module-item{
    display: flex;
    align-items: center;
    height: 40px;
}
.matter-number-module-text{
    width: 170px;
}
.form-outer{
    width: 100%;
    padding-top: 10px;
}
.form-title{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.form-title h3{
    margin: 0;
    padding-left: 10px;
    font-weight: 400;
}
.form-inner {
    width: 96%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.card_item_section_inner_button{
    text-align: right;
    width: 100%;
}
.form-group{
    width: 940px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.form-matter-group{
    display: flex;
    align-items: center;
}
.card_item_section_inner_text{
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
    
}
.form-group-content{
    width: 700px;
}
.form-group-content-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}
.form-group-content-item{
    display: flex;
    align-items: center;
    height: 100%;
    width: 350px;
    
}
.form-group-content-item input{
    width: 100%;
}
.form-group-content-item-text{
    width: 150px;
}
#id_input_work_contentNumber{
    margin-left: 10px;
    width: 50px;
}
#id_input_work_content{
    margin-left: 10px;
}
/* .card_item_section_inner_text h4{
    font-size: 20px;
    font-weight: 300;

} */

.form-group-content-select{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding-top: 10px;
}
.form-group-content-select-add{
    width: 80px;
    height: 30px;
    background-color: #f2ad4d;
    color: #ffffff;
    border: none;
    margin: 10px 0;
}
.form-group-content-select-del{
    width: 100px;
    height: 30px;
    background-color: #ef1e17;
    color: #ffffff;
    border: none;
    margin: 10px 0;
}
.card_item_section_select{
    width: 100%;
    /* height: 170px; */
}



.input-span{
    width:120px;
    background-color: rgb(157, 244, 255);
}

.option_class{
    background-color: aqua;
}