body{
    padding: 80px 0;
    background-color: #E7F9FF;
}
h1{
    padding: 20px;
}
input{
    height: 50px;
}
.form-content{
    width: 370px;
    margin: 0 auto;
}
.login-error{
    color: red;
}
.form-accounts{
    width: 40%;
    margin:  auto;
}
.form-account{
    max-width: 370px;
    margin: 25px auto;
}
.form-item{
    font-size: 20px;
}
@media screen and (max-width: 1000px){
    .form-accounts{
        width: 95%;
        margin: auto;
    }
}












