body{
    background-color: #E7F9FF;
}
label{
    font-size: 22px;
}
ul {padding: 0;}

.iphone_class{
    display: none;
}

.hisory-record-contents{
    padding-top: 10px;
}
.wrapper{
    width: 90%;
    height: 90%; 
    margin: auto;
}
.top-item{
    display: flex;
    height: auto;
    width: 100%;
    margin: 10px 0;
    align-items: center;
    justify-content: space-between; 
}
.top-item-date{
    padding: 5px 10px;
    height: 45px;
    width: 160px;
    border-radius: 15px;
    border: 3px dotted #000;
    vertical-align: top;
    background-color: #fff;
    color: #000;
}
.top-item-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 60%;
}
.top-item-button{
    width: 140px;
    height: 40px;
    margin: 2px;
    border-radius: 15px;
    font-weight: 600;
    opacity:0.8;
    border: none;
    color: #fff;
    background-color: #21a6a2;
}

.icon-item{
    padding: 5px 5px;
    font-weight: bold;
    color: #6091d3;
    border: solid 6px #C0C0C0;/*線*/
    border-radius: 12px;/*角の丸み*/
}
.wapper{
    width: 100%;
    
    text-align: center;
    margin: auto;
}

.rows_contens{
    display: grid;
    grid-template-columns: 12% 12% 15% 20% 10% 10% 9% 6.4%;
    grid-column-gap: 10px;
    border: 0;
}
.row_number_class {
    display: none;
}
.form-account select{
    height: 45px;
    max-width: 390px;
    margin: auto;
} 
.form-name input{
    height: 45px;
    margin: auto;
}
.form_contents{
    width: 95%;
    height: 90%; 
    margin: 10px auto;
}
.time_contents{
    padding: 0px 1px;
}
.form_item{
    margin: 5px 0px;
    height: 40px;
    font-size: 16px;
}
.timerow{
    display: flex;
}
.form-bottom{
    display: flex;
    width: 100%;
    height: 50px;
}
.button-add{
    width: 100px;
    height: 30px;
    margin: 30px 5px 5px 0px;
    padding: 0 1px 1px 1px;
    border-radius: 10px 10px 10px 10px;
    background-color: #1db99a;
    color: #ffffff;
    border:none;
}
.button-action-add:hover{
    transition: 0.5s;
    background-color: #1d73b9;
    color: #ffffff;
}
.button-action-del:hover{
    transition: 0.5s;
    background-color: #ef1e17;
    color: #ffffff;
}
.form-summary-content{
    margin-top: 20px;
    border-radius:30px;

}
.form-summary{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.all_total_contens{
    width: 550px;
    height: 60px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
}
.all-total-content{
    display: flex;
    margin: 0 15px;
    font-weight: bold;
    flex-direction: row;
    align-items: center;

}
.button-register{
    height: 60px;
    border: none;
    padding: 0 70px;
    border-radius: 20px 20px 20px 20px;
    background-color: #53afec;
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
}

.button-register:hover {
    transition: 0.5s;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(67, 247, 82, 0.5);
}
.button-register:active {
    border: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(67, 247, 82, 0.562);
}
.total-content {
    height: 30px;
    width: 50px;
    background-color: #FFFFFF;
    border: none;
    text-align: right;
}

.row-copybutton{
    background-color:#d7ffff;
}

.choice-constr-content{
    display: flex;

}

.row-copybutton{
    height: 30px;

}
.hisory-record-contents{
    height: 40%;
    width: 40%;
    margin: 10px 0 0 0;
    padding: 5px;
    margin-bottom: 20px;
}
.hisory-record-contents-top{
    display: flex;
    justify-content: space-between;
}
.hisory-item1{
    flex-grow:3;
    
}
.hisory-record-contents-main{
    display: grid;
}
.hisory-record-p{
    display: grid;
    grid-template-columns: 5% 15% 40% 40%;
    grid-template-rows: 100%;
    justify-items: center
}
.modal-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,50%);
	padding: 40px 20px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
    box-sizing: border-box;
    z-index: 9999;
}
/*モーダル本体の擬似要素の指定*/
.modal-container:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal-container.active{
	opacity: 1;
	visibility: visible;
}
/*モーダル枠の指定*/
.modal-body{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 500px;
	width: 90%;

}
/*モーダルを閉じるボタンの指定*/
.modal-close{
	position: absolute;
	display: flex;
    align-items: center;
    justify-content: center;
	top: -40px;
	right: -40px;
	width: 40px;
	height: 40px;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
}
.modal-content{
    display: flex;
    justify-content: space-around;
    background-color: #ffe4e4;
    height: 200px;
    padding: 10px;

}

.modal-sbmint-button{
    width: 100%;
}
@media screen and (max-width: 1180px) {
    .rows_contens{
        width: 95%;
        display: grid;
        grid-template-rows: 0% 25% 25% 25% 25%;
        grid-template-columns: 48% 48%;
        grid-column-gap: 10px;
        padding: 20px 0;
        border-bottom: 3px dashed #000;
        margin: 0 auto;
    }
    .wrapper{
        width: 98%;
        }
    .iphone_class{
        display: inline-block;
    }
    .form_item{
    font-size: 20px;
    height: 50px;
    }
    .top-item-button{
        width: 100px;
    }
    .button-register{
        width: 100%;
        margin-top: 10px;
    }
    .form-summary-content{
        display: flex;
    }
    .all-total-content{
    flex-direction: column;
    }
    .form-summary{
        flex-direction: column;
        width: 100%;
    }
    .all_total_contens{
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: space-around;
    }
    .hisory-record-contents{
        width: 100%;
    }
    .time_contents{
        width: 50%;
    }
    .row_number_class{
        display: inline-block;
        grid-row: 1;
        grid-column: 1/5;
        text-align: left;
    }
    .row_item1{
        grid-row: 2;
        grid-column: 1;

    }
    .row_item2{
        grid-row: 2;
        grid-column: 2;

    }
    .row_item3{
        grid-row: 3;
        grid-column: 1;

    }
    .row_item4{
        grid-row: 3;
        grid-column: 2;

    }
    .row_item5{
        grid-row: 4;
        grid-column: 1;

    }
    .row_item6{
        grid-row: 4;
        grid-column: 2;

    }
    .row_item7{
        grid-row: 5;
        grid-column: 1;

    }
    .row_item8{
        grid-row: 5;
        grid-column: 2;
    }
}
