body{
    padding: 20px 0;
    background-color: #C3D1FF;
}
h1{
    padding: 20px;
}
.form-accounts{
    width: 40%;
    margin:  auto;
}
.form-content{
    width: 270px;
    margin: 0 auto;
}

.form-account input{
    max-width: 300px;
    height: 50px;
    margin: auto;
    
} 

.form-account select{
    max-width: 300px;
    height: 45px;
    margin: auto;
} 

.form-name input{
    height: 45px;
}
.form-item{
    width: 50%;
    padding: 0 10px;
}

.settings_form{
    width: 40%;
    height: 90%;
    margin: auto;
    border: 1px 1px;
}

@media screen and (max-width: 1000px){
    .form-accounts{
        width: 95%;
        margin: auto;
    }
}