body{
    background-color: #E7F9FF;
}
select{-webkit-appearance: none;}
input{
    font-size: 16px;
    -webkit-appearance: none;
}
.wrapper{
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.title{
    width: 100vw;
    margin: 0 calc(50% - 50vw);
}
.title h2{
    padding-top: 20px;
    width: 92%;
    margin: 0 auto;
    font-size:  24px;       /* 文字サイズ指定 */
    border-bottom:  solid;  /* 線指定 */
    padding-bottom:  5px;   /* 余白指定 */
    margin-bottom: 15px;    /* 周りの余白指定 */
}
.form-title{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.form-title h3{
    margin: 0;
    padding-left: 10px;
    font-weight: 400;
}
.form-inner {
    width: 96%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.card_item_section_inner_button{
    text-align: right;
    width: 100%;
}
.form-group{
    width: 80%;
    margin: 10px;
}
.form-select{
    width: 150px;
}
.form-group-button{
    width: 100%;
    text-align: right;
    padding: 10px;
}
.save-button{
    width: 150px;
}
.form-matter-group{
    display: flex;
    align-items: center;
}
.card_item_section_inner_text{
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
}
.form-group-content{
    width: 70%;
    
}
.form-group-content-block{
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
    height: 60px;
    margin-top: 10px;
}
.form-group-content-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 100%;
}
.form-group-content-item p{
    width: 150px;
}
.form-group-content-select{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
.card_list_select{
    width: 100%;
    height: 300px;
    background-color: #fff;
}

@media screen and (max-width: 1180px) {
    .wrapper {
        width: 95%;
    }
    .form-group{
        width: 95%;
    }

    .form-group-content{
        width: 100%;
    }
    .form-group-content-block{
        width: 100%;
    }
    .card_list{
        width: 100%;
    }
    .form-select{
        width: 100%;
    }
    .form-group-button{
        width: 100%;
    }
    .save-button{
        width: 100%;
    }
    .form-group-content-item {

        flex-direction: column;
        align-items: flex-start;
        height: 50px;

    }
}