{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}アプリ設定{% endblock %}
{% block js %}{% static 'js/reportTabel.js' %}{% endblock %}
{% block css %}{% static 'css/app_settings_style.css' %}{% endblock %}
{% block css2 %}{% static 'css/header.css' %}{% endblock %}

{% block content %}
{% include 'include.html' %}
<div class="wrapper">
    <form method="post">
    {% csrf_token %}
        <div class="title">
            <h2 class="title_h2">アプリ設定</h2>
        </div>
        <div class="form-outer">
            <div class="form-title">
                <img src="/media/images/settng.png" width="20px" height="20px"/>
                <h3>工番 設定</h3>
            </div>
            <div class="form-inner border border-3 rounded-3 bg-white">
                <div class="form-group">
                    <div class="form-matter-group">
                        <div class="matter-number-item-1">
                            <label>現在の工番</label>
                            <select name="matter_code_del" size="7" class="select-item-1" id="id_matter_code_del">
                                {% for Data in matter.in_data %}
                                <option class={% if Data.Deadline == None %}"option_class"{% endif %} value={{ Data.Value }}>{{ Data.Label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="matter-button-items">
                            <button name="matter_in" type="submit" class="matter-output-button btn btn-info">
                                <img src="/media/images/1.png" width="30px" height="15px"/>
                            </button>
                            <button name="matter_del" type="submit" class="matter-input-button btn btn-danger">
                                <img src="/media/images/2.png" width="30px" height="15px"/>
                            </button>
                        </div>
                        
                        <div class="matter-number-item-1">
                            <label>削除された工番</label>
                            <select name="matter_code_in" size="7" class="select-item-1" id="id_matter_code_in">
                                {% for Data in matter.out_data %}
                                <option {% if Data.Deadline == None %}class="option_class"{% endif %} value={{ Data.Value }}>{{ Data.Label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>    
                    <div class="matter-number-module">
                        <div class="matter-number-module-item1">
                            <p>最終取得日</p>
                            <p>{{ params.update_day }}</p>
                        </div> 
                        <div class="matter-number-module-item">  
                            <p class="matter-number-module-text">kintoneから取得する：</p>
                            <button type="submit"name="kintone_input" class="btn btn-secondary">取得</button>
                        </div>
                        <div class="matter-number-module-item">
                            <p class="matter-number-module-text">自動で取得する：</p>
                            <input type="checkbox"name="auto-update-check"value="1"{% if params.auto_number == 1 %}checked{% endif %}/>
                        </div>
                        <div class="matter-number-module-item">
                            <p class="matter-number-module-text">工番削除期間：</p>
                            <select name="Matter_update_number">
                                <option value="0"{% if params.update_mode == 0 %}selected{% endif %}>当日</option>
                                <option value="1"{% if params.update_mode == 1 %}selected{% endif %}>1週間</option>
                                <option value="2"{% if params.update_mode == 2 %}selected{% endif %}>1か月</option>
                                <option value="3"{% if params.update_mode == 3 %}selected{% endif %}>3か月</option>
                                <option value="4"{% if params.update_mode == 4 %}selected{% endif %}>半年</option>
                            </select>
                        </div>
                    </div>
                    <div class="card_item_section_inner_button">
                        <button type="submit" name="matter_para_save" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="form-outer">
            <div class="form-title">
                <img src="/media/images/settng.png" width="20px" height="20px"/>
                <h3>各部署標準作業区分 設定</h3>
            </div>
            <div class="form-inner border border-3 rounded-3 bg-white">
                <div class="form-group">
                    <div class="form-group-content">
                        <div class="form-group-content-block">
                            <div class="form-group-content-item">
                                <p>部署選択:</p>
                                <select id="id_select_wark_class_dept" name="select_wark_class_dept" >
                                    <option value="">選択</option>
                                    {% for i in Dept %}
                                        <option value="{{ i.dept }}">{{ i.dept }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group-content-item">
                                <p class="form-group-content-item-text">追加内容:  </p>
                                <input id="id_input_work_class"name="input_work_content"/>
                                <button type="button" id="id_button_wark_class" class="form-group-content-select-add">追加</button>
                            </div> 
                        </div>
                        <div class="form-group-content-select">
                            <select id="id_select_work_class"name="select_work_class" class="card_item_section_select" size="10"></select>
                            <button type="button" id="id_button_work_class_del"name="button_work_class"class="form-group-content-select-del">削除</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-outer">
            <div class="form-title">
                <img src="/media/images/settng.png" width="20px" height="20px"/>
                <h3>各部署標準作業内容 設定</h3>
            </div>
            <div class="form-inner border border-3 rounded-3 bg-white">
                <div class="form-group">
                    <div class="form-group-content">
                        <div class="form-group-content-block">
                            <div class="form-group-content-item">
                                <p>追加内容：</p>
                                <select id="id_select_dept"name="select_dept">
                                    <option value="">選択</option>
                                    {% for i in Dept %}
                                        <option value="{{ i.dept }}">{{ i.dept }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group-content-item">
                                <input type="number" id="id_input_work_contentNumber"name="input_work_contentNumber"/>
                                <p>番</p>
                                <input id="id_input_work_content"name="input_work_content"/>
                                {% comment %} <i class="fas fa-times search_icon"></i> {% endcomment %}
                                <button id="id_button_work_content"name="button_work_content"class="form-group-content-select-add">追加</button>
                            </div>
                        </div>
                        <div class="form-group-content-select">
                            <select id="id_select_work_content"name="select_work_content" class="card_item_section_select" size="10"></select>
                            <button id="id_button_work_content_del"name="button_work_content"class="form-group-content-select-del">削除</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-outer">
            <div class="form-title">
                <img src="/media/images/settng.png" width="20px" height="20px"/>
                <h3>kintone 設定</h3>
            </div>
            <div class="form-inner border border-3 rounded-3 bg-white">
                <div class="form-group">
                    <div class="form-group-content">
                        <div class="card_item_section_inner">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text input-span" id="inputGroup-sizing-sm">kintoneドメイン</span>
                                {{ form.kintone_domain|add_class:'form-control' }}
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text input-span" id="inputGroup-sizing-sm">工番取得 API</span>
                                {{ form.kintone_input_API|add_class:'form-control' }}
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text input-span" id="inputGroup-sizing-sm">工番取得 アプリID</span>
                                {{ form.kintone_input_appID|add_class:'form-control' }}
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text input-span" id="inputGroup-sizing-sm">日報登録 API</span>
                                {{ form.kintone_output_API|add_class:'form-control' }}
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text input-span" id="inputGroup-sizing-sm">日報登録 アプリID</span>
                                {{ form.kintone_output_appID|add_class:'form-control' }}
                            </div>
                            <div class="card_item_section_inner_button">
                                <input type="button" name="matter_para_save" value="保存"class="btn btn-primary"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}