{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}ユーザー設定{% endblock %}
{% block js %}{% static 'js/user_setting.js' %}{% endblock %}
{% block css %}{% static 'css/user_setting_style.css' %}{% endblock %}
{% block css2 %}{% static 'css/header.css' %}{% endblock %}

{% comment %} <link href="{% static 'css/header.css' %}"rel="stylesheet"type="text/css"/> {% endcomment %}
{% block content %}
{% include 'include.html' %}
<div class="wrapper">
    <div class="title">
        <h2>ユーザー設定</h2>
    </div>
    <div class="form-outer">
        <form method="post">
            {% csrf_token %}
            <div class="form-title">
                <img src="/media/images/settng.png" width="20px" height="20px"/>
                <h3>部署切替</h3>
            </div>
            <div class="form-inner border border-3 rounded-3 bg-white">
                <div class="form-group">
                    <div class="form-group-content">
                        <div class="form-group-content-block">
                            <div class="form-group-content-item">
                                <p>部署変更：</p>
                                <p>現在の部署-{{ user.dept }}</p>
                                <div class="card_list">
                                    <select name="user_dept" class="form-control">
                                        {% for Value in dept %}
                                        <option value={{ Value.number }} {% if Value.dept == user.dept.dept %}selected{% endif %}>{{ Value.dept }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-content-block">
                            <div class="form-group-content-item">    
                                <p>エリア変更：</p>
                                <p>現在の部署-{{ user.area }}</p>
                                <div class="card_list">
                                    <select id="work_add_class" name="user_area" class="form-control">
                                        {% for Value in area %}
                                        <option value={{ Value.number }} {% if Value.area == user.area.area %}selected{% endif %}>{{ Value.area }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    <div class="form-group-button">
                        <button type="submit" class="btn btn-primary" name="user_save_button">保存</button>
                    </div>    
                </div>
            </div>
        </form>
        </div>
    </div>
        
    <div class="form-outer">
        <div class="form-title">
            <img src="/media/images/settng.png"width="20px" height="20px">
            <h3>ユーザー作業区分 編集</h3>
        </div>
        <div class="form-inner border border-3 rounded-3 bg-white">
            <div class="form-group">
                <div class="form-group-content">
                    <div class="form-group-content-block">
                        <div class="form-group-content-item">
                            <p>作業区分 追加内容</p>
                            <div id="erorr_message"></div>
                            <input type="text" class="add_text"id="work_class_add"/>
                            <input type="hidden" value={% url "ajax_addworkclass" %} id="url_class_add" />
                            <input type="hidden" value={% url "ajax_delworkclass" %} id="url_class_del" />
                            <button type="button" id="work_class_add_button"class="select_add_button">追加</button>
                        </div>    
                    </div>    
                    <div class="form-group-content-select">
                        <select id="work_class_select" size ="10"class="card_list_select">
                            {% for Value in workclass %}
                            <option class="" value={{ Value.contents }}>{{ Value.contents }}</option>
                            {% endfor %}
                        </select>
                        <input type="button" id="work_class_del_button" class="select_del_button"value="削除" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}        